{% extends 'base.html.twig' %}

{% block body %}

	<h1 id="adminUsers">Liste des utilisateurs</h1>

	<table id="tabAdminUsers">
		<thead>
			<tr>
				<th class='thAdminUser'>ID</th>
				<th class='thAdminUser'>Prénom</th>
				<th class='thAdminUser'>Nom</th>
				<th class='thAdminUser'>Email</th>
				<th class='thAdminUser'>Supprimer l'utilisateur</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td class='tdAdminUser'>{{ user.id }}</td>
					<td class='tdAdminUser'>{{ user.firstname }}</td>
					<td class='tdAdminUser'>{{ user.lastname }}</td>
					<td class='tdAdminUser'>{{ user.email }}</td>
					<td class='tdAdminUser'>
						<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 384 512"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
