<footer class="d-flex" id="backgroundFooter">
	{# <div id="headerLogo">
		<a href="{{ path('home') }}" id="head_accueil"><img class="logo" src="/assets/img/icon/logo.png" alt="logo de l'entreprise"></a>
	</div> #}
	<div id="footerBlocInfo">
		<p>Adresse : 87f chemin fabry, Toulon</p>
		<p>Email: francoismaz@gmail.com</p>
		<p>Tel: 07 45 23 08 75</p>
	</div>

	<p id="footerMarque">© 2023 MazAntique, Inc</p>
	<p id="footerCondi">Conditions générales</p>
</footer>
