<header>
    <div id="topHeader">
        <div id="headerLogo">
		    <h1>MazAntique</h1>
	    </div> 
        <div class="searchBar">
            <input type="search"/>
        </div>
    </div>
</header>