/* /// Header /// */
#head_logout, #head_login, #head_accueil, #head_register{
  color: #048B9A;
}
#logout_header{
  color:cornflowerblue; 
}
.logo{
  width: 180px;
  height: 120px;
  margin-top: -25% !important;
  margin-bottom: 2%;
}
#top_header{
  margin-top: 2%;
}
#searchResult{
  display: flex;
  justify-content: center;
}
#searchBar_head, #searchBar_body{
  height: 3%;
}
#searchField_head{
    border: 3px solid #d8d8d8 !important;
}

#btn_search_head, .infoAccueil{
  color: #048B9A;
}
#btn_search_head:hover, .infoAccueil:hover{
  color: white;
  background-color: #048B9A;
}
#searchField_head{
  border: 1px solid #b5b5b5 !important;
  width: 80% !important;
}
.low_header{
  color: #b5b5b5;
}
.nav_head{
  height: 25px;
  margin-left: 10% !important;
  margin-top: 0.6%;
  margin-bottom: 0.6%;
}
.nav_head:hover{
transform: translateX(0.6em);
transition-timing-function: ease-out;
}
#low_head{
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5 ;
}
header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
#icon_cart{
  font-size: larger;
}

/* /// Responsive /// */
@media only screen and (max-width: 990px) {
  #searchBar_head{
    display: none !important;
  }
 #popul_header{
  display: none;
 }
 #top_header{
  margin-top: 5%;
 }
}

/* /// Footer /// */

#backgroundFooter{
  height: 200px !important;
  background-color: #2D2D2D;
  color: white;
}
#footerBlocInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#footerCondi{
  margin-top: 80px;
  margin-right: 80px;

}
#footerMarque{
  margin: 150px auto 0px auto;
} 

/* /// Responsive /// */



/* /// Log in and Register /// */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #048B9A;
    width: 50% !important;
    margin: 50px auto;
    padding: 0 0 10px 0;
  }
input{
  display: flex;
  justify-content: space-between !important;
    width: 88% !important;
    margin: auto;
    border: none !important;
    outline: none !important;
    font-weight: 550;
  }
.login_container{
    position: relative;
    width: 50%;
    max-height: 520px;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    margin: auto;
  }
.box_login{
  position: relative;
  height: auto;
  width: 100%;
  padding: 5%;
  background-color: white;
  color: #048B9A;
  box-shadow: 0px 0px 10px #b5b5b5;
  border-radius: 30px;
  font-size: 1rem;
  animation: scale-up-center 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  margin-top: 6%;
}
main{
  padding-bottom: 30vw;
}
.little_border{
  margin-left: 10px;
  width: 100px;
  height: 4px;
  background: #048B9A;
  animation: drag-left-2 1000ms;
}
#login_btn, #inscri_btn, #annul_btn{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 35% !important;
  min-width: fit-content;
  height: 45px;
  border-radius: 50px;
  box-shadow: 0 16px 22px -17px #048B9A;
  background: #048B9A;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 500ms;
}
.backgroundImage{
  background-image: url("../img/icon/backgroundImage.jpg");
  height: 120%;
}
#inscri_btn{
  transform: translate(-110%, 50%) !important;
}
#annul_btn{
  transform: translate(10%, 50%) !important;
}
#login_btn:hover,  #inscri_btn:hover, #annul_btn:hover {
  background: #059eaf;
  color: white;
  scale: 1.15;
}
#login_btn:focus {
  outline: none;
}

/* /// Responsive /// */





/* /// Home page /// */

#adminUsers, .login{
  padding-top: 15% !important;
}
.flashTop{
  padding-top: 180px;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* /// Responsive /// */





/* swiper */
#product_list{
  display: flex;
}
#card_product{
  margin: 3% 3% 5% 3%;
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 520px;
  max-height: 100%;
}
#homeProductImage{
  height: 340px;
  width: 100%;
}
#homeAllProductImage{
  height: 300px;
  width: 100%;
}
#homeLikedProductImage{
  height: 300px;
  width: 100%;
}
#promotionProductArray{
  color: red;
}
#cartHome, #heartHome{
  margin-top: 4%;
}
#homeProductName, #homeProductPrice, #moreInformation, #likeProductArray, #promotionProductArray {
  margin-left: 3%;
}

#homeProductNameProducts, #homeProductNameMost{
  margin: 4% 0% 3% 3%;
}
.card_heart {
  position: relative;
  font-size: 20px;
  right: -42%;
  color: black;
  transition: color 0.3s, transform 0.3s;
}
.card_heart:hover,
.card_heart.clicked{
  color: red;
  transform: scale(1.3);
}
.card_heart:hover::before,
.card_heart.clicked::before {
  content: "\f004";
}
.card_heart:hover::after,
.card_heart.clicked::after,
.minusAdmin:hover::after,
.editAdmin:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  font-size: small;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.card_heart:hover::after,
.minusAdmin:hover::after,
.editAdmin:hover::after {
  opacity: 1;
}
.minusAdmin:hover,
.editAdmin:hover{
  transform: scale(1.4);
}
.minusAdmin{
  transition: transform 0.3s;
  position: absolute;
  font-size: 25px;
  bottom: -10%;
  right: 15%;
  color:#059eaf;
}
.editAdmin{
  transition: transform 0.3s;
  position: absolute;
  font-size:25px;
  bottom: -10%;
  left: 15%;
  color:#059eaf;
}
#product_container{
  width: 100% !important;
  max-width: 100% !important;
  min-height: 0;
  min-width: 0;
  z-index: -1 !important;
  cursor: pointer !important;
}
.swiper-container{
  height: 100%; 
  max-height: 100vw;
  min-height: 0;
  min-width: 0;
  max-width: 100vw; 
  width: 100%;
  overflow: hidden;
}
.swiper-wrapper{
  max-height: 100%;
  height: 100%;
  display: flex;
  z-index: -1 !important;
}
.card-body{
  z-index: 8 !important;
}
#addToCartSwiper{
  z-index: 8 !important;
}
#addButton{
  margin: 10% auto 10% auto;
  width: 30%;
}
#plusAdmin{
  position: relative;
  left: -10%;
  top: 16px;
}
.home_modeling{
height: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
}
#home_product{
  width: 295px !important;
  margin: 4% 2% !important;
  padding-bottom: 1%;
  border: #d8d8d8 2px solid;
  border-bottom-right-radius: 2%;
  border-bottom-left-radius: 2% ;
}
#allProductsTitle{
  font-size: 2em !important;
}

/* /// Responsive /// */

@media only screen and (max-width: 800px) {
  .home_modeling{
    margin-left: 20%;
  } 
}


@media only screen and (max-width: 855px) {
  #product_container{
    padding-bottom: 100px !important;
  }
  #home_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 
}

@media only screen and (max-width: 600px) {
  #product_container{
    padding-bottom: 550px !important;
  }
  
}

@media only screen and (max-width: 575px) {
    #product_container{
    padding-bottom: 650px !important;
  }
    
}
/* /// Description Page /// */

.bloc_description{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 200px auto auto auto;
}

/* /// Responsive /// */





/* /// Contact Page /// */

#contact_btn{
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 35% !important;
  min-width: fit-content;
  height: 45px;
  border-radius: 50px;
  box-shadow: 0 16px 22px -17px #048B9A;
  background: #048B9A;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 500ms;
}
/* /// Responsive /// */






/* /// Profile /// */
#profileDisconnected{
  color: #048B9A;
  display: flex;
  justify-content: center;
  padding-top: 8em;
}
/* /// Responsive /// */





/* /// Cart /// */

.bloc_panier{
  width: 80vw;
  padding: 5%;
}

#trCart{
  border-bottom: 2px solid #b5b5b5;
}

/* /// Responsive /// */

@media only screen and (max-width: 700px) {
  #promotion_cart{
    display: none !important;
  }
  #thPromotionCart{
    display: none;
  }
  #quantity_cart{
    display: none;
  }
  #thQuantityCart{
    display: none;
  }
}
/* /// Forms /// */
.form_title{
  color: #059eaf;
}
.lengthCart{
  width: 20%;
  padding: 2%;
}

#barCart{
  border-bottom: #048B9A solid 2px !important;
  width: 100% !important;
}
.formGroup{
  margin: 8% 0%;
  width: 40vw;
  border-bottom: #048B9A solid 2px !important;
}
#productfForm{
  margin-top: 15%;
}
.updateBtnForm{
  background-color: #048B9A;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.updateBtnForm:hover{
  background-color: #036F7D;
}
/* /// Responsive /// */




/* /// Amin Users /// */

.thAdminUser{
  padding: 6%;
  border-bottom: 2px solid #b5b5b5;
}
.tdAdminUser{
  padding: 8%;
  border-bottom: #048B9A solid 2px !important;
}
#tabAdminUsers{
  margin: auto;
}
#adminUsers{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* /// Responsive /// */



