{% extends 'base.html.twig' %}

{% block body %}
    <h1>Associate Products with Promotion</h1>
    {{ form_start(form) }}
    {{ form_row(form.products) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
