{% extends 'base.html.twig' %}

{% block title %}Edit Promotion{% endblock %}

{% block body %}
    <h1 id="admin_display_mid" class="form_title d-flex justify-content-center">Modifier une promotion</h1> 
    <div class="d-flex justify-content-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn_update_admin_song">{{ button_label|default('Update') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}