{% extends 'base.html.twig' %}

{% block title %}New Promotion
{% endblock %}

{% block body %}
	<a id="previous-page-btn" href="/">
		<i class="bi bi-arrow-left"></i>
	</a>

	<h1 class="admin_black" id="admin_display_mid">Créer une nouvelle promotion</h1>

	{{ include('promotion/_form.html.twig') }}

{% endblock %}